#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-width: 100%;
  /* height: 100%; */
  background: linear-gradient(30deg, 
    #97d4e8, 
    #6ec6e9, 
    #32c2f1,
    #315cdf 
  );
  background-size: cover;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.playlistcard-container {
  margin: 10px;
  
  /* background-color: rgb(225, 227, 240); */
}

.playlist-container {
  width: 40%;
  background-image: url('./assets/crumpled-paper.jpg'); /* Adjust the path */
  background-size: cover; /* This will cover the entire div */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center; /* Centers the image */
  min-height: fit-content; /* Allows the div to grow based on content */
  padding: 20px; 
  border-radius: 8px; /* Optional: adds rounded corners for a softer look */
  margin-bottom: 20px;
}

.playlist-outer {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: flex-start; /* Align items to the start vertically */
  height: auto;
}

.playlist-button-item {
  width: 40%;
  /* background-color: rgb(214, 217, 233); */
  font-size: larger;
  margin: 10px;
  background: linear-gradient(30deg, 
    #aed8e6, /* Light blue */
    #97cfe5, /* Sky blue */
    #99d3e7, /* Cool blue */
    #aab9e3 /* Dark blue */
  );
  border-radius: 6px;
}

.playlist-button-item:hover {
  filter: brightness(1.04); /* Increase brightness by 20% */
}

.playlist-buttons-outer {
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center; /* Centers horizontally */
  /* align-items: flex-start;
  height: auto; */
  flex: 1;
}

.receipt-go-back-button {
    margin-bottom: 60px;
    margin-top: 6px;
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    background: linear-gradient(30deg, 
      #a8daeb, /* Light blue */
      #98d3ea, /* Sky blue */
      #a2dff4, /* Cool blue */
      #b4c3ed /* Dark blue */
    );
}

html, body {
  height: 100%; /* Set height to 100% */
  margin: 0; /* Remove default margin */
}

body {
  display: flex; /* Use Flexbox */
  flex-direction: column; /* Arrange children in a column */
  min-height: 100vh; /* Minimum height of 100% of the viewport height */
  /* background: linear-gradient(to bottom, lightblue, darkblue); */
  /* overflow: auto; */
}

.light-blue {
  background: linear-gradient(30deg, #aed8e6, #97cfe5, #99d3e7, #aab9e3);
}

.orange {
  background: linear-gradient(30deg, #f1dab7, #ecc59f, #e8c278, #ef9556);
}

.red {
  background: linear-gradient(30deg, #fcc4c4, #ec9c9c, #ea7b7b, #df5e5e);
}

.green {
  background: linear-gradient(30deg, #b9eab9, #90e690, #65dc65, #4dd04d);
}

.purple {
  background: linear-gradient(30deg, #e1c1fe, #b78de3, #b366ff, #ab73e3);
}

.bodyText {
  font-weight: 400;
  font-variant: small-caps;
  font-size: x-large;
}

.userProfile-button {
  margin-bottom: 10%;
  margin-top: 10%;
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  background: linear-gradient(30deg, 
    #a8daeb, /* Light blue */
    #98d3ea, /* Sky blue */
    #a2dff4, /* Cool blue */
    #b4c3ed /* Dark blue */
  );
}

.userProfile-button:hover {
  filter: brightness(1.04);
}

.welcomeUser {
  border: 10px;
  padding-top: 14px;
  padding-bottom: 1px;
}
.welcomeUser-outer {
  background: linear-gradient(30deg, 
    #f6fcff, 
    hsl(200, 100%, 99%), 
    #f6fdff, 
    #eff6ff
  );
  border: 10px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 20px;
  border-radius: 15px; /* Adjust the value for more or less rounding */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.playlist-image {
  width: 120px;
  height: auto;
  filter: grayscale(1) contrast(100) brightness(1);
  mix-blend-mode: multiply;
  margin-top: 40px;
  margin-bottom: 20px;
}

.receipt-playlist-name {
  margin-bottom: 10px;
}

.homePage-main-box {
  background: linear-gradient(30deg, 
    #f6fcff, 
    hsl(200, 100%, 99%), 
    #f6fdff, 
    #eff6ff
  );
  border: 10px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 20px;
  border-radius: 15px; /* Adjust the value for more or less rounding */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  margin-top: 6%;
  margin-bottom: 35%;
}

.homePage-header-text {
  padding-top: 5%;
  margin: 3%;
}

.please-sign-in {
  padding: 2%;
  padding-bottom: 2%;
}

.header-box {
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Space between left and right elements */
  align-items: center; /* Center items vertically */
  padding: 10px 20px; /* Add some padding */
  background-color: #ffffff; /* Light background color */
  border-bottom: 1px solid #dee2e6;
  border-radius: 15px; /* Adjust the value for more or less rounding */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Optional: border at the bottom */
}

.header-box-inside {
  display: flex; /* Use flexbox for inner layout */
  align-items: center; /* Center items vertically */
  width: 100%;
}

.header-box-inside div {
  margin-right: 15px; /* Space between image and title */
}

.application-title {
  font-size: 24px; /* Adjust font size */
  font-weight: bold; /* Make the title bold */
  color: #317ce5; 
}

.nav-bar {
  display: flex;
  margin-left: auto;
  margin-right: 8px;
}

.nav-bar-link {
  margin-left: 20px; /* Space between navigation links */
  text-decoration: none; /* Remove underline from links */
  color: #252525; /* Link color */
  font-weight: 500; /* Adjust font weight */
}

.nav-bar-link:hover {
  text-decoration: underline; /* Underline on hover */
}

.application-title {
  margin: 1%;
}

.application-image {
  width: 50px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 15px; /* Space between image and title */
}

.wrap-indent {
  padding-left: 2em;
  text-indent: -2em;
  display: inline-block;
}

.receipt-font {
  /* font-family:  "Monospace", "Courier New", "Monaco",  monospace, monospace; */
  /* font-family:  monospace; */
  /* font-style: bold; */
  font-weight: 350;
}

.artist-font {
  font-style: italic;
}

.codes-section {
  display: flex;
  flex-direction: column;        /* Change to row to align items horizontally */
  justify-content: center;     /* Center items horizontally */
  align-items: center; 
}

.codes {
  margin: 5px;
  max-width: 200px;
  filter: grayscale(1) contrast(100) brightness(1);
  mix-blend-mode: multiply;
}

.qr-code {
  height: auto;
  width: 120px;
  margin-bottom: 10px;
  margin-top: 4px;
}

.spotify-scannable-code {
  width: auto;
  height: 46px;
  filter: invert(1);
}

.entry-page-welcome-box {
  margin-top: 10%;
  padding: 2%;
  background-color: #f8f9fa; /* Light background color */
  border-bottom: 1px solid #dee2e6;
  border-radius: 15px; /* Adjust the value for more or less rounding */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 25%;
}

.entry-page-text {
  margin-left: 1.5%;
  margin-right: 1.5%;
  font-size: xx-large;
  font-weight: 200;
  margin-bottom: 3%;
}

.entry-page-welcome-box-outer {
  width: 100%;
}

.entry-button {
  border-radius: 6px;
  background: linear-gradient(30deg, 
    #e6f8ff, 
    #edfaff, 
    #e7fbff, 
    #e8f3ff
  );
  /* background: linear-gradient(30deg, 
    #cae8f2, 
    #add5e5, 
    #b0e2f1,
    #a8d0ec 
  ); */
}

.entry-button:hover {
  filter: brightness(1.04);
}

.login-button {
  border-radius: 6px;
  /* background: linear-gradient(30deg, 
    #ecfaff, 
    #f7fdff, 
    #effcff, 
    #eff7ff
  ); */
  background: linear-gradient(30deg, 
    #e6f8ff, 
    #edfaff, 
    #e7fbff, 
    #e8f3ff
  );
}

.login-button:hover {
  filter: brightness(1.04);
}

.footer-box {
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Space between left and right elements */
  align-items: center; /* Center items vertically */
  padding: 10px 20px; /* Add some padding */
  background-color: #f8f9fa; /* Light background color */
  border-bottom: 1px solid #dee2e6;
  border-radius: 15px; /* Adjust the value for more or less rounding */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Optional: border at the bottom */
  margin-left: 20%;
  margin-right: 20%;
}

.footer-box-inside {
  display: flex; /* Use flexbox for inner layout */
  align-items: center; /* Center items vertically */
  width: 100%;
  flex-direction: column;
  
}

.external-api-logo {
  min-width: 70px;
  max-height: 30px;
  margin-left: 2px;
}

.footer-logo {
  display: flex; /* Use flexbox for inner layout */
  align-items: center;
}

.spotify-logo {
  width: auto;
  height: 50px;
}
.lyrics-logo {
  width: auto;
}

.lyrics-box {
  margin-left: 10px;
  margin-top: 6px;
}

.spotify-box {
  margin-top: 6px;
}

.footer-creators-text {
  margin: 1px;
  display: flex;
  flex-direction: row;
}

.creators-text {
  font-weight: 300;
  margin-bottom: 0;
  font-weight: 350;
}

.creator-text-link {
  color: rgb(24, 24, 24);
  font-weight: 350;
}

.creator-text-link:hover {
  color: linear-gradient(30deg, 
    #e6f8ff, 
    #edfaff, 
    #e7fbff, 
    #e8f3ff
  );
  font-weight: 350;
}

.playlist-comment {
  margin: 20px;
}

.comment-button {
  margin: 20px;
}